# MUYOBO ARNOLD
# M24B13/024
# B27422
# muyoboarnold@gamil.com

In [7]:
import pandas as pd

In [8]:
pd.read_excel("diamonds_new.xlsx")

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53915   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53916   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53917   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53918   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53919   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53920 rows x 10 columns]

In [9]:
TESTED=pd.read_excel("diamonds_new.xlsx")

## Practice Exercise ##
* Using the diamonds dataset, test the hypothesis that average price of all carat categories are the same.

In [10]:


# Show the first few rows of the dataframe to understand its structure
TESTED.head()

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

In [11]:
TESTED.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53920 entries, 0 to 53919
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    53920 non-null  int64
 1   carat    53920 non-null  float64
 2   cut      53920 non-null  object
 3   color    53920 non-null  object
 4   clarity  53920 non-null  object
 5   depth    53920 non-null  float64
 6   table    53920 non-null  float64
 7   x        53920 non-null  float64
 8   y        53920 non-null  float64
 9   z        53920 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [12]:
from scipy import stats

# Grouping carats into categories (for simplicity, using equal width binning)
TESTED['carat_category'] = pd.cut(TESTED['carat'], bins=5)

# Grouping prices by carat categories
grouped_prices = [group['price'].values for _, group in TESTED.groupby('carat_category')]

# Perform ANOVA test to check if the average prices in the different carat categories are equal
anova_result = stats.f_oneway(*grouped_prices)

# Display the ANOVA result
anova_result

C:\Users\user\AppData\Local\Temp\ipykernel_2208\1269137163.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_prices = [group['price'].values for _, group in TESTED.groupby('carat_category')]

F_onewayResult(statistic=np.float64(21388.090576104154), pvalue=np.float64(0.0))

In [5]:
import scipy.stats as stats

In [13]:
#performing anova
f_stats, p_value = stats.f_oneway(
    TESTED['price'][TESTED['carat'] == 0.5],
    TESTED['price'][TESTED['carat'] == 1.0],
    TESTED['price'][TESTED['carat'] == 1.5]
)

In [18]:
#results for the values
print("The f_stats are", f_stats)
print("The p_value is", p_value)

The f_stats are 5869.533748678977
The p_value is 0.0

In [15]:


# Step 1: Discretize the carat variable into the specified four categories
bins = [0.0, 0.1, 0.2, 0.3, 0.4]
labels = ['0.0-0.1', '0.1-0.2', '0.2-0.3', '0.3-0.4']
TESTED['carat_category'] = pd.cut(TESTED['carat'], bins=bins, labels=labels, include_lowest=True)

# Step 2: Calculate the mean prices for each category
mean_prices = TESTED.groupby('carat_category')['price'].mean()

mean_prices

C:\Users\user\AppData\Local\Temp\ipykernel_2208\3809236989.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_prices = TESTED.groupby('carat_category')['price'].mean()

carat_category
0.0-0.1           NaN
0.1-0.2    365.166667
0.2-0.3    628.006930
0.3-0.4    785.623479
Name: price, dtype: float64

In [19]:
if p_value == 0.005:
    print("The average price across the carat category are significantly different.")
else:
    print("There is no significant difference in the average price across categories.")

There is no significant difference in the average price across categories.

### Find the average price of "Premium" diamonds is 150

In [21]:
#average price for the premium category diamond is 150
premium_diamond = TESTED[TESTED['cut'].str.lower() == 'Premium']

avg_price_premium = premium_diamond['price'].mean()

avg_price_premium

print('The average price for the premium category diamond is', avg_price_premium)

The average price for the premium category diamond is nan